.idea/
.vscode/
cmake-build-debug/
cmake-build-release/
bin/
assets/*/*
!assets/maps/*
!assets/img/*
!assets/shaders/*
!assets/config/*
S2C_SERVER_PROTOCOL_REFERENCE.md
WEBSOCKET_DEOBFUSCATION.md
NATIVE_CLIENT_PROTOCOL_REFERENCE.md
KrunkNative-Windows.zip
KrunkNative-Windows/
KrunkNative-Windows-latest.zip
KrunkNative-v0.0.1-alpha-Windows-x86-64.zip
